<html>
  <head>
    
    <link rel="stylesheet" href="app.css">
  </head>
  <body> 
    <h1>All The Fruits</h1>
    <nav>
      <a href="/fruits/new">Create a New Fruit</a>
    </nav>
    
    <ul>
    <% for (i in fruits) { %>
      <li>
        <%= fruits[i].name %>, 
        <%= fruits[i].color %>, 
        <%= fruits[i].readyToEat %>
      </li>
      <a href="/fruits/<%= fruits[i]._id  %>">SHOW</a>
      <a href="/fruits/<%= fruits[i]._id  %>/edit">EDIT</a>
      <form action="/fruits/<%= fruits[i]._id  %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
      <% } %>
    </ul>
    </body>
</html>